CompileFlags:
    Compiler: ntoaarch64-g++
    Add: 
        - -Wall
        - -std=c++14
        - -xc++
        - -D__QNXNTO__
        - -D__QNX__=800
        - -D__AARCH64EL__
        - -D__LITTLEENDIAN__
        - -D_QNX_SOURCE
Diagnostics:
  Suppress:
    - drv_triple_version_invalid